OPENAI_API_KEY=sk-...
GOOGLE_CLOUD_PROJECT=haderach-ai
# OPENAI_MODEL=gpt-4o-mini
VENDOR_AWS_BILLING_CREDENTIALS={"access_key_id":"","secret_access_key":"","region":"us-east-1"}
VENDOR_BILL_CREDENTIALS={"userName":"","password":"","orgId":"008...","devKey":"","baseUrl":"https://gateway.prod.bill.com/connect"}
